<div class="shell-bar" *ngIf="mode$ | async as mode">

  <ng-container *ngIf="history$ | async as history; else noBackButton">
    <ng-container *ngIf="history.length > 1; else noBackButton">
      <div (click)="onBack()" style='cursor: pointer;'>
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      </div>
    </ng-container>
  </ng-container>

  <!-- this is a placeholder for flexbox -->
  <ng-template #noBackButton>
    <div></div>
  </ng-template>


  <div *ngIf="mode === 'dark'; else lightMode" (click)="onUpdateMode('light')">
    <i class="fa fa-sun-o" style='margin-right: .5rem;'></i>
    <span>Lightmode</span>
  </div>
  <ng-template #lightMode>
    <div (click)="onUpdateMode('dark')">
      <i class="fa fa-moon-o" style='margin-right: .5rem;'></i>
      <span>Darkmode</span>
    </div>
  </ng-template>
</div>
