.shell-wrapper{
  &__header{
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: end;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &__body{
    position: absolute;
    top:50px;
    padding: 2rem 0;
  }

  &.dark-mode{
    >div{
      background-color: rgb(54, 54, 54);
      color:#fff;
    }
  }
}
