.shell-wrapper{
  &__header{
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: end;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &__body{
    position: absolute;
    top:50px;
    // padding: 2rem 0;
    width: 100%;
    min-height: calc(100% - 50px);
    box-sizing: border-box;
  }

  &.dark-mode{
    >div{
      background-color: rgb(54, 54, 54);
      color:#fff;
    }
    //encapsulation none applies these styles globally
    input, select, .card{
      background-color: rgb(54, 54, 54);
      box-shadow: 0 1px 6px rgb(255 255 255 / 28%);
      color:#fff;
    }

    .team__section{
      &:nth-child(odd) {
        background-color: #646464;
      }
      &:nth-child(even) {
        background-color: rgb(54, 54, 54);
      }
    }

  }
}
