.teams{
  display:flex;
  flex-direction: column;
  row-gap:2rem;
  max-width: 80%;
  margin:auto;
    padding: 2rem 0;


  &__toolbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  &__grid{
    display: flex;
    row-gap:3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    >*{
      flex: 0 1 250px;
    }
  }
}

@media only screen and (max-width: 1250px) { //IPAD PRO
  .teams{
     max-width: 98%;
    &__grid{
      >*{
        flex: 0 1 250px;
      }
    }
  }
}

@media only screen and (max-width: 770px) { //IPAD
  .teams{
     max-width: 90%;
    &__grid{
      >*{
        flex: 0 1 250px;
      }
    }
  }
}

@media only screen and (max-width: 570px) { //surface duo
  .teams{
     max-width: 80%;
    &__grid{
      >*{
        flex: 1 1 250px;
      }
    }
    &__toolbar{
      >*{
        flex: 1 1 250px;
      }
    }
  }
}

@media only screen and (max-width: 377px) { //IPHONE 6/7/8
  .teams{
     max-width: 90%;
  }
}
